In [1]:
import pandas as pd
import numpy as np
from sklearn.model_selection import train_test_split
from sklearn.svm import SVC
from sklearn.linear_model import LogisticRegression
import pickle

In [2]:
train = pd.read_csv("data/train.csv")
test = pd.read_csv("data/test.csv")

train = train.dropna()
train.Dependents.replace("3+", "3", inplace=True)
train.Dependents = train.Dependents.astype(float)

In [3]:
train.head()

,Loan_ID,Gender,Married,Dependents,Education,Self_Employed,ApplicantIncome,CoapplicantIncome,LoanAmount,Loan_Amount_Term,Credit_History,Property_Area,Loan_Status
1,LP001003,Male,Yes,1.0,Graduate,No,4583,1508.0,128.0,360.0,1.0,Rural,N
2,LP001005,Male,Yes,0.0,Graduate,Yes,3000,0.0,66.0,360.0,1.0,Urban,Y
3,LP001006,Male,Yes,0.0,Not Graduate,No,2583,2358.0,120.0,360.0,1.0,Urban,Y
4,LP001008,Male,No,0.0,Graduate,No,6000,0.0,141.0,360.0,1.0,Urban,Y
5,LP001011,Male,Yes,2.0,Graduate,Yes,5417,4196.0,267.0,360.0,1.0,Urban,Y

In [4]:
train.Dependents.unique()

array([1., 0., 2., 3.])

In [5]:
train.Loan_Status[train.Credit_History == 1].describe()

count     410
unique      2
top         Y
freq      325
Name: Loan_Status, dtype: object

In [6]:
train.Loan_Status[train.Credit_History == 0].describe()

count     70
unique     2
top        N
freq      63
Name: Loan_Status, dtype: object

In [7]:
test.head()

,Loan_ID,Gender,Married,Dependents,Education,Self_Employed,ApplicantIncome,CoapplicantIncome,LoanAmount,Loan_Amount_Term,Credit_History,Property_Area
0,LP001015,Male,Yes,0,Graduate,No,5720,0,110.0,360.0,1.0,Urban
1,LP001022,Male,Yes,1,Graduate,No,3076,1500,126.0,360.0,1.0,Urban
2,LP001031,Male,Yes,2,Graduate,No,5000,1800,208.0,360.0,1.0,Urban
3,LP001035,Male,Yes,2,Graduate,No,2340,2546,100.0,360.0,NaN,Urban
4,LP001051,Male,No,0,Not Graduate,No,3276,0,78.0,360.0,1.0,Urban

In [8]:
X = train.drop(["Loan_ID", "Loan_Status", "Loan_Amount_Term", "CoapplicantIncome"], axis=1)
y = train["Loan_Status"]
X.head()

,Gender,Married,Dependents,Education,Self_Employed,ApplicantIncome,LoanAmount,Credit_History,Property_Area
1,Male,Yes,1.0,Graduate,No,4583,128.0,1.0,Rural
2,Male,Yes,0.0,Graduate,Yes,3000,66.0,1.0,Urban
3,Male,Yes,0.0,Not Graduate,No,2583,120.0,1.0,Urban
4,Male,No,0.0,Graduate,No,6000,141.0,1.0,Urban
5,Male,Yes,2.0,Graduate,Yes,5417,267.0,1.0,Urban

In [9]:
train_X, test_X, train_y, test_y = train_test_split(X, y, test_size=0.3)

In [10]:
train_X = pd.get_dummies(train_X)
test_X = pd.get_dummies(test_X)

In [11]:
train_X.head()

,Dependents,ApplicantIncome,LoanAmount,Credit_History,Gender_Female,Gender_Male,Married_No,Married_Yes,Education_Graduate,Education_Not Graduate,Self_Employed_No,Self_Employed_Yes,Property_Area_Rural,Property_Area_Semiurban,Property_Area_Urban
214,0.0,3173,137.0,1.0,0,1,0,1,1,0,1,0,0,0,1
488,2.0,4583,160.0,1.0,0,1,0,1,1,0,0,1,0,1,0
436,0.0,1926,50.0,1.0,0,1,1,0,1,0,1,0,0,1,0
407,0.0,2213,66.0,1.0,1,0,1,0,0,1,1,0,1,0,0
493,0.0,17263,225.0,1.0,1,0,1,0,0,1,0,1,0,1,0

In [12]:
test_X.head()

,Dependents,ApplicantIncome,LoanAmount,Credit_History,Gender_Female,Gender_Male,Married_No,Married_Yes,Education_Graduate,Education_Not Graduate,Self_Employed_No,Self_Employed_Yes,Property_Area_Rural,Property_Area_Semiurban,Property_Area_Urban
513,0.0,2130,70.0,1.0,0,1,0,1,1,0,1,0,0,1,0
255,3.0,3083,255.0,1.0,1,0,1,0,1,0,1,0,1,0,0
182,0.0,4600,73.0,1.0,0,1,0,1,1,0,1,0,0,1,0
574,3.0,6406,150.0,1.0,0,1,0,1,1,0,1,0,0,1,0
371,2.0,5185,155.0,1.0,0,1,0,1,1,0,1,0,0,1,0

In [13]:
model = SVC()
model.fit(train_X, train_y)

SVC()

In [14]:
model.score(test_X, test_y)

0.7013888888888888

In [15]:
model.predict(test_X)[0]

'Y'

In [16]:
pickle.dump(model, open("loan_predictor.pickle", 'wb'))
loaded_model = pickle.load(open("loan_predictor.pickle", 'rb'))

In [17]:
loaded_model.score(test_X, test_y)

0.7013888888888888

In [204]:
len(test_X.columns)

15

In [198]:
from sklearn.linear_model import logistic

In [205]:
pip install scikit-learn --upgrade

Collecting scikit-learn
  Downloading https://files.pythonhosted.org/packages/2f/9e/91095e6e92f6f8255949dd61ee60c91fd0fc1d4580731acf88166622aa9b/scikit_learn-0.24.0-cp37-cp37m-win_amd64.whl (6.8MB)
Collecting threadpoolctl>=2.0.0 (from scikit-learn)
  Using cached https://files.pythonhosted.org/packages/f7/12/ec3f2e203afa394a149911729357aa48affc59c20e2c1c8297a60f33f133/threadpoolctl-2.1.0-py3-none-any.whl
Requirement already satisfied, skipping upgrade: joblib>=0.11 in c:\users\gupta\anaconda3\lib\site-packages (from scikit-learn) (0.13.2)
Requirement already satisfied, skipping upgrade: scipy>=0.19.1 in c:\users\gupta\anaconda3\lib\site-packages (from scikit-learn) (1.2.1)
Requirement already satisfied, skipping upgrade: numpy>=1.13.3 in c:\users\gupta\anaconda3\lib\site-packages (from scikit-learn) (1.16.3)
Installing collected packages: threadpoolctl, scikit-learn
  Found existing installation: scikit-learn 0.21.1
    Uninstalling scikit-learn-0.21.1:
      Successfully uninstalled scikit-learn-0.21.1
Note: you may need to restart the kernel to use updated packages.

rasa-nlu 0.15.0 has requirement scikit-learn~=0.20.2, but you'll have scikit-learn 0.24.0 which is incompatible.
rasa-core 0.14.4 has requirement scikit-learn~=0.20.0, but you'll have scikit-learn 0.24.0 which is incompatible.
Could not install packages due to an EnvironmentError: [WinError 5] Access is denied: 'c:\\users\\gupta\\anaconda3\\lib\\site-packages\\~klearn\\linear_model\\cd_fast.cp37-win_amd64.pyd'
Consider using the `--user` option or check the permissions.